.add-cell-icon {
	right:85px;
	background: #FFF url(images/icon-add.png) top left no-repeat;
}

.set-cell-icon {
	background: #FFF url(images/icon-leftright.png) top left no-repeat;
}

.add-cell-icon:hover,
.add-cell-icon:active {
	background: #fff url(images/icon-add.png) bottom left no-repeat;
	outline: none;
}

.set-cell-icon:hover,
.set-cell-icon:active {
	background: #FFF url(images/icon-leftright.png) bottom left no-repeat;
	outline: none;
}
