/**
 * _fonts.scss
 * Custom AxisBuilder fonts.
 */
@font-face {
	font-family: 'AxisBuilder';
	src: url('../fonts/AxisBuilder.eot');
	src: url('../fonts/AxisBuilder.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AxisBuilder.woff') format('woff'),
		url('../fonts/AxisBuilder.ttf') format('truetype'),
		url('../fonts/AxisBuilder.svg#AxisBuilder') format('svg');
	font-weight: normal;
	font-style: normal;
}
