/**
 * _mixins.scss
 * AxisBuilder Mixins
 */
@mixin active_tab( $tab-active-color, $text-color: white ) {
	color: $text-color;
	background: $tab-active-color;
	border-color: darken( $tab-active-color, 10% );

	&:hover,
	&:focus {
		color: $text-color;
		background: darken( $tab-active-color, 5% );
		border-color: darken( $tab-active-color, 15% );
	}
}
