/**
 * _mixins.scss
 * AxisBuilder Mixins
 */
@mixin active_tab( $tab-active-color, $text-color: white ) {
	color: $text-color;
	background: $tab-active-color;
	border-color: darken( $tab-active-color, 10% );

	&:hover,
	&:focus {
		color: $text-color;
		background: darken( $tab-active-color, 5% );
		border-color: darken( $tab-active-color, 15% );
	}
}

/**
 * Objects
 */
@mixin menu() {
	@include clearfix();

	li {
		display: inline-block;
	}
}

@mixin mediaright() {
	@include clearfix();

	img {
		float: right;
		height: auto;
	}
}

@mixin medialeft() {
	@include clearfix();

	img {
		float: right;
		height: auto;
	}
}

@mixin ir() {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
}

@mixin icon( $glyph: "\e001" ) {
	font-family: 'AxisBuilder';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: $glyph;
}

@mixin iconbefore( $glyph: "\e001" ) {
	font-family: 'AxisBuilder';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: .618em;
	content: $glyph;
}

@mixin iconafter( $glyph: "\e001" ) {
	font-family: 'AxisBuilder';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-left: .618em;
	content: $glyph;
}

@mixin dashicon( $glyph: "\e001" ) {
	font-family: 'Dashicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: $glyph;
	vertical-align: top;
}

@mixin dashiconbefore( $glyph: "\f333" ) {
	font-family: 'Dashicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin-right: .618em;
	content: $glyph;
	vertical-align: top;
	display: inline-block;
}

@mixin dashiconafter( $glyph: "\f333" ) {
	font-family: 'Dashicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin-left: .618em;
	content: $glyph;
	vertical-align: top;
	display: inline-block;
}

@mixin loader() {
	&:before {
		height: 1em;
		width: 1em;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -.5em;
		margin-top: -.5em;
		display: block;
		-webkit-animation: spin 2s linear infinite;
		-moz-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		font-family: "Dashicons";
		content: "\f463";
		line-height: 1;
		text-align: center;
		font-size: 2em;
		color: rgba(#000, 0.75);
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
		font-weight: 400;
	}
}
