/**
 * _tooltip.scss
 * AxisBuilder Tooltip
 */
 .axis-tooltip {
	color: #fff;
	padding: 8px;
	font-size: 11px;
	max-width: 140px;
	z-index: 9999999;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	background: #464646;
	background: rgba( 70, 70, 70, 0.9 );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	.axis-arrow-wrap {
		left:50%;
		bottom: -20px;
		width: 20px;
		height: 20px;
		overflow: hidden;
		position: absolute;
		margin-left: -10px;
	}

	.axis-arrow {
		border: none;
		background: rgba( 70, 70, 70, 0.9 );
	}
}

.axis-arrow {
	top: -6px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #fff;
	position: absolute;
	margin-left: -5px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
