/**
 * AxisBuilder CSS Variables
 */

$fresh-tab-active-color:     #2ea2cc !default;
$light-tab-active-color:     #04a4cc !default;
$blue-tab-active-color:      #e1a948 !default;
$coffee-tab-active-color:    #c7a589 !default;
$ectoplasm-tab-active-color: #a3b745 !default;
$midnight-tab-active-color:  #e14d43 !default;
$ocean-tab-active-color:     #9ebaa0 !default;
$sunrise-tab-active-color:   #dd823b !default;
