/**
 * _variables.scss
 * AxisBuilder CSS Variables
 */

$fresh-color:     #2ea2cc !default;
$light-color:     #04a4cc !default;
$blue-color:      #e1a948 !default;
$coffee-color:    #c7a589 !default;
$ectoplasm-color: #a3b745 !default;
$midnight-color:  #e14d43 !default;
$ocean-color:     #9ebaa0 !default;
$sunrise-color:   #dd823b !default;
