/**
 * admin.scss
 * General AxisBuilder admin styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";
@import "animation";
@import "fonts";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

/* Meta-Box Core Styles */
.postbox-container .postbox {
	clear: both;
}

div.mce-toolbar-grp {
	min-width: 100%;
}

/* Hide Screen Option for Axis Builder */
label[for="axisbuilder-editor-hide"] {
	display: none;
}

/* Toggle Button */
#axisbuilder-button {
	top: 10px;
	z-index: 1001;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

#axisbuilder-editor {
	width: 100%;
	float: left;
	display: block;

	&.axisbuilder-hidden {
		display: none !important;
	}
}

/* Meta Box Customize */
.axisbuilder_meta_box {
	margin: 10px 0;
}

#axisbuilder-editor .inside {
	padding: 0 0 12px !important;
}

.axisbuilder_editor {
	margin: -7px 0 10px;
	border-top: 1px solid #e5e5e5;
}

#tabs {
	float:left;
	width:100%;
}

/* Interface tabs that hold shortcode tab-actives */
.shortcode_tab-active_wrap {
	display: block;
	position: relative;
}

.axisbuilder-tab {
	clear: both;
	display: none;
	overflow: hidden;
	position: relative;
	padding: 10px;
	background-color: #fdfdfd;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.axisbuilder-tab-1 {
	display: block;
}

.axisbuilder-tab-title-container {
	background: #f5f5f5;
}

.axisbuilder-tab-title-container a {
	z-index: 2;
	padding: 10px 30px;
	margin: 20px;
	/*margin-right: 3px;*/
	float: left;
	display: block;
	position: relative;
	text-decoration: none;
	color: #232323;
	background: #fdfdfd;
	border: 1px solid #C6C4C4;

	&:hover,
	&:focus {
		background: #f7f7f7;
	}

	&.active-tab {
		@include active_tab( $fresh-tab-active-color )
	}
}

/* Shortcode Wrap */
.shortcode_button_wrap {
	display: block;
	position: relative;
}

#wpwrap .axisbuilder-active-insert{
	border: 1px solid #D54E21;
}

.shortcode_insert_button {
	height: 50px;
	width: 70px;
	border: 1px solid #e1e1e1;
	padding: 4px 2px 10px 2px;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	display: block;
	overflow: hidden;
	outline: none;
	line-height: 13px;
	float: left;
	margin:0px 3px 3px 0;
	position: relative;
	color: #777;

	&:hover {
		border:1px solid #aaa;
	}

	&:active {
		border:1px solid #D54E21;
	}

	&:hover img, &:active img {
		opacity: 1;
	}

	img {
		opacity: 0.5;
		display: block;
		position: relative;
		margin: 6px auto 5px auto;
	}

	span {
		position: absolute;
		width: 88%;
		left: 6%;
		bottom: 6px;
		background: rgba(255,255,255,0.7);
		padding-top: 1px;
	}
}

.axisbuilder_control_bar {
	min-height: 200px;
	background: white;
	padding: 40px 11px;
	border: 1px solid #E1E1E1;
	float:left;
	position: relative;
	width: 100%;
	left: -12px;
	top: 9px;
}
