/**
 * admin.scss
 * General AxisBuilder admin styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "sweet-alert";
@import "variables";
@import "animation";
@import "fonts";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

/**
 * Toggle Button
 */
#axisbuilder-button {
	top: 10px;
	z-index: 1001;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

#axisbuilder-editor {
	width: 100%;
	float: left;
	display: block;

	&.axisbuilder-hidden {
		display: none !important;
	}
}

/**
 * Meta-Box Tweaks
 */
.postbox-container .postbox {
	clear: both;
}

div.mce-toolbar-grp {
	min-width: 100%;
}

label[for="axisbuilder-editor-hide"] {
	display: none;
}

.axisbuilder-meta-box {
	margin: 10px 0;
}

#axisbuilder-editor .inside {
	margin-bottom: -1px;
	padding: 0 !important; /* 0 0 12px Test without highlight */
}

.axisbuilder-editor-custom {
	margin: -7px 0 0 !important;
	border-top: 1px solid #e5e5e5;
}

/**
 * Full Screen Styles
 */
body.axisbuilder-noscroll-box {
	overflow: hidden;
}

#normal-sortables .postbox.axisbuilder-expanded#axisbuilder-editor:first-child {
	margin-top:-0;
}

.axisbuilder-fullscreen-buttons {
	float: right;
	margin: 10px 20px 0;
}

.postbox.axisbuilder-expanded {
	position: fixed;
	top:-3px;
	left:0;
	right:0;
	bottom:0;
	z-index: 10000;
	margin:0;
	overflow: auto;
	overflow-x: hidden;
}

.axisbuilder-expanded .axisbuilder-tab-container {
	visibility: hidden;
}

.axisbuilder-expanded .axisbuilder-fixed-controls {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	background: #F8F8F8;
	padding: 41px 0px 10px 0;
	z-index: 1;
	-webkit-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0 1px 8px 0px rgba(0,0,0,0.2);
	visibility: visible;
}

.axisbuilder-expanded .axisbuilder-fixed-controls .axisbuilder-tab-container {
	visibility: visible;
}

.postbox.axisbuilder-expanded .axisbuilder-expand-button {
	position: fixed;
	top:40px;
}

.axisbuilder-expanded-buttons {
	position: absolute;
	top:-6px;
	right:0;
}

.axisbuilder-fixed-controls #publish {
	float:left;
	margin-right: 4px;
}

.axisbuilder-fixed-controls #post-preview {
	float: left;
	margin-right: 4px;
	line-height: 30px;
	height: 31px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

/*expand button*/
.axisbuilder-expanded .axisbuilder-fixed-controls  .axisbuilder-expand-button {
	position: relative;
	float: left;
	top: 0;
	right: 0;
	background: none;
	text-indent: 0;
	width: auto;
	display: inline-block;
	text-decoration: none;
	line-height: 29px;
	height: 30px;
	color: white;
	opacity: 1;
	border-color: #D54E21;
	background-color: #D54E21;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#DD7C5C),to(#D54E21));
	background-image: -webkit-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: -moz-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: -ms-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: -o-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: linear-gradient(to bottom,#DD7C5C,#D54E21);

		-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.axisbuilder-expanded .axisbuilder-fixed-controls .axisbuilder-expand-button:hover{ background-color: #DD7C5C; background-image:none;}
.axisbuilder-expanded .axisbuilder-fixed-controls .axisbuilder-expand-button:active{
	background-color: #F05F2F;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#D54E21),to(#DD7C5C));
	background-image: -webkit-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: -moz-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: -ms-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: -o-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: linear-gradient(to bottom,#D54E21,#DD7C5C);
}

.axisbuilder-expand-fullscreen {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: #fff;
	z-index: 99998;
	display: none;
}

/**
 * Builder Loader Style
 */
#axisbuilder-loader, .axisbuilder-expanded {
	width: 100%;
	display: block;
	position: relative;
	background: #f5f5f5;

	.axisbuilder-tab-title {
		padding: 0 12px;

		a {
			z-index: 2;
			float: left;
			margin: 8px 0;
			padding: 8px 0;
			display: block;
			position: relative;
			text-align: center;
			text-decoration: none;
			width: 22.25%;
			margin-right: 3%;
			color: #232323;
			background: #fdfdfd;
			border: 1px solid #C6C4C4;


			&:hover,
			&:focus {
				background: #f7f7f7;
			}

			&:nth-of-type(4n) {
				float: right;
				margin-right: 0;
			}

			&.active-tab {
				@include active_tab( $fresh-tab-active-color )
			}
		}
	}

	.axisbuilder-tab-shortcodes {
		clear: both;
		display: none;
		overflow: hidden;
		position: relative;
		padding: 4px 12px 9px;
		background-color: #fdfdfd;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	.axisbuilder-tab-1 {
		display: block;
	}

	/* For Future its sure : When 1,2, loop are stop */
	.axisbuilder-tab-layout {
		display: block;
	}
}

/* Interface tabs that hold shortcode tab-actives */
.shortcode_tab-active_wrap {
	display: block;
	position: relative;
}

/**
 * Tooltips Styles
 */
.axis-tooltip {
	color: #fff;
	padding: 8px;
	font-size: 11px;
	max-width: 140px;
	z-index: 9999999;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	background: #464646;
	background: rgba( 70, 70, 70, 0.9 );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	.axis-arrow-wrap {
		left:50%;
		bottom: -20px;
		width: 20px;
		height: 20px;
		overflow: hidden;
		position: absolute;
		margin-left: -10px;
	}

	.axis-arrow {
		border: none;
		background: rgba( 70, 70, 70, 0.9 );
	}
}

.axis-arrow {
	top: -6px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #fff;
	position: absolute;
	margin-left: -5px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Shortcode Wrap */
#wpwrap .axisbuilder-active-insert{
	border: 1px solid #D54E21;
}

.insert-shortcode {
	height: 50px;
	width: 70px;
	border: 1px solid #e1e1e1;
	padding: 4px 2px 10px 2px;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	display: block;
	overflow: hidden;
	outline: none;
	line-height: 13px;
	float: left;
	margin: 5px 5px 0 0;
	position: relative;
	color: #777;

	&:hover {
		border:1px solid #aaa;
	}

	&:active {
		border:1px solid #D54E21;
	}

	&:hover img, &:active img {
		opacity: 1;
	}

	img {
		opacity: 0.5;
		display: block;
		position: relative;
		margin: 6px auto 5px auto;
	}

	span {
		position: absolute;
		width: 88%;
		left: 6%;
		bottom: 3px;
		background: rgba(255,255,255,0.7);
		padding-top: 1px;
	}
}

/**
 * Builder Handle Style
 */
#axisbuilder-handle {
	z-index: 8;
	width: 100%;
	height: 40px;
	display: block;
	color: #7b7b7b;
	line-height: 40px;
	background: #f5f5f5;

	&:hover {
		z-index: 12;
	}

	.control-bar {
		height: 28px;
		padding: 6px;
		margin: 0 auto;
	}

	.history-sections {
		float: left;

		.history-action,
		.delete-action {
			float: left;
			padding: 6px;
		}

		.history-action {

			.undo-icon,
			.redo-icon {
				@include ir();
				color: #7b7b7b;
				font-size: 16px;

				&:hover {
					color: #2ea2cc;
				}
			}

			.undo-icon {
				float: left;

				&:before {
					@include icon( "\e003" );
				}
			}

			.redo-icon {
				float: right;
				margin-left: .5em;
				margin-right: 3px;

				&:before {
					@include icon( "\e004" );
				}
			}
		}

		.delete-action {
			border-left: 1px solid #c6c4c4;

			.trash-icon {
				@include ir();
				color: #7b7b7b;
				font-size: 16px;
				margin-left: 3px;

				&:before {
					@include icon( "\e005" );
				}

				&:hover {
					color: #d54e21;
				}
			}
		}
	}

	.content-sections {
		float: right;

		/* This Template is not sure so hidden */
		.template-action {
			float: left;
			display: none;
		}

		.fullscreen-action {
			float: right;
			padding: 6px;
			margin-left: 10px;

			.expand-icon {
				@include ir();
				color: #7b7b7b;
				font-size: 16px;

				&:before {
					@include icon( "\e006" );
				}

				&:hover {
					color: #2ea2cc;
				}
			}
		}
	}
}

/**
 * Editor Canvas Styles
 */
#axisbuilder-canvas {

	.canvas-area {
		padding: 12px;
		background: #fff;
		min-height: 220px;
		position: relative;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;

		&.loader {
			@include loader();
		}
	}

	.canvas-secure-data {
		display: none;
		padding: 12px 12px 8px;

		textarea {
			width: 100%;
			resize: none;
			height: 300px;
			padding: 20px;
			font-size: 12px;
			line-height: 20px;
			font-family: monospace;
		}
	}
}

/**
 * Debug or Test-Mode Styles
 */
.axisbuilder-debug {

	.canvas-secure-data {
		display: block !important;
	}
}

/**
 * Small screen optimisation
 */
@media only screen and (max-width: 1280px) {

}

/**
 * Optimisation for screens 900px and smaller
 */
@media only screen and (max-width: 900px) {

}

/**
 * Optimisation for screens 782px and smaller
 */
@media only screen and (max-width: 782px) {

	.axisbuilder-expanded-buttons #post-preview,
	.axisbuilder-expanded-buttons #publish {
		display: inline-block;
		float: none;
	}

	.axisbuilder-expanded .inside .axisbuilder-shortcodes {
		padding-bottom: 38px;
	}

	.axisbuilder-tab-title a {
		float: left;
		width: 47% !important;

		&:nth-of-type(2n) {
			float: right !important;
			margin-right: 0 !important;
		}
	}

	#axisbuilder-handle {
		height: 52px;

		.control-bar {
			padding: 12px 6px;
		}

		.content-sections {

			.template-action {
				margin-top: -6px;
				margin-right: 75px;
			}
		}
	}
}

/**
 * Optimisation for screens 500px and smaller
 */
@media only screen and (max-width: 500px) {

	#axisbuilder-handle {

		.control-bar {
			padding: 12px;
		}
	}
}

/**
 * Drag and Drop Styles
 */
body div.ui-draggable-dragging {
	width:240px;
}

#wpwrap .axisbuilder-hover-active {
	background: #f3f8fa;
	border: 1px dashed #1075a0;
}

/*drag drop highlight of single elements*/
.axisbuilder-select-target-1.axisbuilder-drop[data-dragdrop-level="0"],
.axisbuilder-select-target-2.axisbuilder-drop[data-dragdrop-level="0"],
.axisbuilder-select-target-3.axisbuilder-drop[data-dragdrop-level="0"],
.axisbuilder-select-target-4.axisbuilder-drop[data-dragdrop-level="0"],
.axisbuilder-select-target-1 .axisbuilder-drop[data-dragdrop-level="0"],
.axisbuilder-select-target-2 .axisbuilder-drop[data-dragdrop-level="1"],
.axisbuilder-select-target-3 .axisbuilder-drop[data-dragdrop-level="2"], .axisbuilder-select-target-3 .axisbuilder-drop[data-dragdrop-level="1"],
.axisbuilder-select-target-4 .axisbuilder-drop[data-dragdrop-level="3"], .axisbuilder-select-target-4 .axisbuilder-drop[data-dragdrop-level="2"], .axisbuilder-select-target-4 .axisbuilder-drop[data-dragdrop-level="1"] {
	background: #F2F9FF;
	border: 1px dashed #4D9EDD;
}

.axisbuilder-select-target-2 .axisbuilder-drop[data-dragdrop-level="1"], .axisbuilder-select-target-3 .axisbuilder-drop[data-dragdrop-level="1"], .axisbuilder-select-target-4 .axisbuilder-drop[data-dragdrop-level="1"] {
	background: #E5F3FF;
}

.axisbuilder-select-target-4 .axisbuilder-drop[data-dragdrop-level="2"] , .axisbuilder-select-target-3 .axisbuilder-drop[data-dragdrop-level="2"]{
	background: #DFF0FF;
}
