/**
 * admin.scss
 * General AxisBuilder admin styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";
@import "animation";
@import "fonts";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

/**
 * Toggle Button
 */
#axisbuilder-button {
	top: 10px;
	z-index: 1001;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

#axisbuilder-editor {
	width: 100%;
	float: left;
	display: block;

	&.axisbuilder-hidden {
		display: none !important;
	}
}

/**
 * Meta-Box Tweaks
 */
.postbox-container .postbox {
	clear: both;
}

div.mce-toolbar-grp {
	min-width: 100%;
}

label[for="axisbuilder-editor-hide"] {
	display: none;
}

.axisbuilder-meta-box {
	margin: 10px 0;
}

#axisbuilder-editor .inside {
	padding: 0 0 12px !important;
}

.axisbuilder-editor-custom {
	margin: -7px 0 0 !important;
	border-top: 1px solid #e5e5e5;
}

/**
 * Builder Loader Style
 */
#axisbuilder-loader {
	width: 100%;
	display: block;
	position: relative;
	background: #f5f5f5;

	.axisbuilder-tab-title {
		padding: 0 12px;

		a {
			z-index: 2;
			float: left;
			margin: 8px 0;
			padding: 8px 0;
			display: block;
			position: relative;
			text-align: center;
			text-decoration: none;
			width: 22.25%;
			margin-right: 3%;
			color: #232323;
			background: #fdfdfd;
			border: 1px solid #C6C4C4;


			&:hover,
			&:focus {
				background: #f7f7f7;
			}

			&:nth-of-type(4n) {
				float: right;
				margin-right: 0;
			}

			&.active-tab {
				@include active_tab( $fresh-tab-active-color )
			}
		}
	}

	.axisbuilder-tab-shortcodes {
		clear: both;
		display: none;
		overflow: hidden;
		position: relative;
		padding: 4px 12px 9px;
		background-color: #fdfdfd;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	.axisbuilder-content-1 {
		display: block;
	}

	/* For Future its sure : When 1,2, loop are stop */
	.axisbuilder-conttent-layout {
		display: block;
	}
}

/* Interface tabs that hold shortcode tab-actives */
.shortcode_tab-active_wrap {
	display: block;
	position: relative;
}

/**
 * Tooltips Styles
 */
.axis-tooltip {
	color: #fff;
	padding: 8px;
	font-size: 11px;
	max-width: 140px;
	z-index: 9999999;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	background: #464646;
	background: rgba( 70, 70, 70, 0.9 );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	.axis-arrow-wrap {
		left:50%;
		bottom: -20px;
		width: 20px;
		height: 20px;
		overflow: hidden;
		position: absolute;
		margin-left: -10px;
	}

	.axis-arrow {
		border: none;
		background: rgba( 70, 70, 70, 0.9 );
	}
}

.axis-arrow {
	top: -6px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #fff;
	position: absolute;
	margin-left: -5px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Shortcode Wrap */
#wpwrap .axisbuilder-active-insert{
	border: 1px solid #D54E21;
}

.shortcode_insert_button {
	height: 50px;
	width: 70px;
	border: 1px solid #e1e1e1;
	padding: 4px 2px 10px 2px;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	display: block;
	overflow: hidden;
	outline: none;
	line-height: 13px;
	float: left;
	margin: 5px 5px 0 0;
	position: relative;
	color: #777;

	&:hover {
		border:1px solid #aaa;
	}

	&:active {
		border:1px solid #D54E21;
	}

	&:hover img, &:active img {
		opacity: 1;
	}

	img {
		opacity: 0.5;
		display: block;
		position: relative;
		margin: 6px auto 5px auto;
	}

	span {
		position: absolute;
		width: 88%;
		left: 6%;
		bottom: 3px;
		background: rgba(255,255,255,0.7);
		padding-top: 1px;
	}
}

/**
 * Builder Handle Style
 */
#axisbuilder-handle {
	z-index: 8;
	width: 100%;
	height: 40px;
	display: block;
	color: #7b7b7b;
	line-height: 40px;
	background: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;

	&:hover {
		z-index: 12;
	}

	.control-bar {
		height: 28px;
		padding: 6px;
		margin: 0 auto;
	}

	.history-sections {
		float: left;

		.history-action,
		.delete-action {
			float: left;
			padding: 6px;
		}

		.history-action {

			.undo-icon,
			.redo-icon {
				@include ir();
				color: #7b7b7b;
				font-size: 16px;

				&:hover {
					color: #2ea2cc;
				}
			}

			.undo-icon {
				float: left;

				&:before {
					@include icon( "\e003" );
				}
			}

			.redo-icon {
				float: right;
				margin-left: .5em;
				margin-right: 3px;

				&:before {
					@include icon( "\e004" );
				}
			}
		}

		.delete-action {
			border-left: 1px solid #c6c4c4;

			.trash-icon {
				@include ir();
				color: #7b7b7b;
				font-size: 16px;
				margin-left: 3px;

				&:before {
					@include icon( "\e005" );
				}

				&:hover {
					color: #d54e21;
				}
			}
		}
	}

	.content-sections {
		float: right;

		/* This Template is not sure so hidden */
		.template-action {
			float: left;
			display: none;
		}

		.fullscreen-action {
			float: right;
			padding: 6px;
			margin-left: 10px;

			.expand-icon {
				@include ir();
				color: #7b7b7b;
				font-size: 16px;

				&:before {
					@include icon( "\e006" );
				}

				&:hover {
					color: #2ea2cc;
				}
			}
		}
	}
}

/**
 * Editor Canvas Styles
 */
#axisbuilder-canvas {
	width: 97%;
	margin: 0 auto;

	.canvas-area {
		min-width: 100%;
		background: #fff;
		margin: 1em auto;
		min-height: 220px;
		position: relative;

		&.loader {
			@include loader();
		}
	}

	textarea {
		resize: none;
		display: none;
		padding: 20px;
		height: 300px;
		min-width: 100%;
		font-size: 12px;
		line-height: 20px;
		font-family: monospace;
	}
}

/**
 * Testmode Styles
 */
.testmode {

	textarea {
		display: inline-block;
	}
}

/**
 * Small screen optimisation
 */
@media only screen and (max-width: 1280px) {

}

/**
 * Optimisation for screens 900px and smaller
 */
@media only screen and (max-width: 900px) {

}

/**
 * Optimisation for screens 782px and smaller
 */
@media only screen and (max-width: 782px) {

	.axisbuilder-tab-title a {
		float: left;
		width: 47% !important;

		&:nth-of-type(2n) {
			float: right !important;
			margin-right: 0 !important;
		}
	}

	#axisbuilder-handle {
		height: 52px;

		.control-bar {
			padding: 12px 6px;
		}

		.content-sections {

			.template-action {
				margin-top: -6px;
				margin-right: 75px;
			}
		}
	}
}

/**
 * Optimisation for screens 500px and smaller
 */
@media only screen and (max-width: 500px) {

	#axisbuilder-handle {

		.control-bar {
			padding: 12px;
		}
	}
}
