/**
 * admin.scss
 * General AxisBuilder admin styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "sweet-alert";
@import "tooltip";
@import "variables";
@import "animation";
@import "fonts";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

/**
 * Full Screen No-Scroll
 */
body.axisbuilder-noscroll-box {
	overflow: hidden;
}

/**
 * Hide Screen Option
 */
label[for="axisbuilder-editor-hide"] {
	display: none;
}

/**
 * Toggle Editors Button
 */
#axisbuilder-button {
	top: 10px;
	z-index: 1001;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

/**
 * Hide Default Editor
 */
#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

/**
 * Builder Meta-Box
 */
#axisbuilder-editor {

	.inside {
		margin: 0;
		padding: 0;
	}

	/**
	 * Tabbed Panels
	 */
	#axisbuilder-panels {
		overflow: hidden;

		ul.axisbuilder-tabs {
			width: 100%;
			float: left;
			margin: 0;
			padding: 0;
			line-height: 1em;
			position: relative;
			background: #fafafa;
			border-bottom: 1px solid #eee;
			@include box-sizing( border-box );

			li {
				margin: 0;
				padding: 0;

				a {
					width: 20%;
					float: left;
					padding: 8px 6px;
					margin: 15px 12px;
					color: #555;
					background: #fdfdfd;
					position: relative;
					text-align: center;
					text-decoration: none;
					border: 1px solid #C6C4C4;
					line-height: 20px !important;

					&:before {
						font-size: 16px;
						vertical-align: text-bottom;
						@include iconbefore( "\e002" );
					}

					&:hover,
					&:focus {
						background: #f7f7f7;
					}
				}

				&.layout_options {
					a:before {
						content: "\e003";
					}
				}

				&.content_options {
					a:before {
						content: "\e004";
					}
				}

				&.media_options {
					a:before {
						content: "\e005";
					}
				}

				&.plugin_options {
					a:before {
						content: "\e006";
					}
				}

				&.active {
					a {
						@include active_tab( $fresh-tab-active-color )
					}
				}
			}
		}

		#layout_builder_data {
			display: block;
		}

		.axisbuilder-shortcodes-panel {
			clear: both;
			display: none;
			overflow: hidden;
			position: relative;
			padding: 4px 12px 9px;
			background-color: #fdfdfd;
		}
	}

	/**
	 * Handle Bar
	 */
	#axisbuilder-handle {
		z-index: 8;
		width: 100%;
		height: 40px;
		display: block;
		color: #7b7b7b;
		line-height: 40px;
		background: #fafafa;
		border-top: 1px solid #eee;

		&:hover {
			z-index: 12;
		}

		.control-bar {
			height: 28px;
			padding: 6px;
			margin: 0 auto;
		}

		.history-sections {
			float: left;

			.history-action,
			.delete-action {
				float: left;
				padding: 6px;
			}

			.history-action {

				.undo-icon,
				.redo-icon {
					@include ir();
					color: #7b7b7b;
					font-size: 16px;

					&:hover {
						color: #2ea2cc;
					}

					&.inactive-history {
						opacity: 0.5;
						color: #7b7b7b;
					}
				}

				.undo-icon {
					float: left;

					&:before {
						@include icon( "\e007" );
					}
				}

				.redo-icon {
					float: right;
					margin-left: .5em;
					margin-right: 3px;

					&:before {
						@include icon( "\e008" );
					}
				}
			}

			.delete-action {
				border-left: 1px solid #ccc;

				.trash-icon {
					@include ir();
					color: #7b7b7b;
					font-size: 16px;
					margin-left: 3px;

					&:before {
						@include icon( "\e009" );
					}

					&:hover {
						color: #d54e21;
					}
				}
			}
		}

		.content-sections {
			float: right;

			/* This Template is not sure so hidden */
			.template-action {
				float: left;
				display: none;
			}

			.fullscreen-action {
				float: right;
				padding: 6px;
				margin-left: 10px;

				.expand-icon {
					@include ir();
					color: #7b7b7b;
					font-size: 16px;

					&:before {
						@include icon( "\e00a" );
					}

					&:hover {
						color: #2ea2cc;
					}
				}
			}
		}
	}

	/**
	 * Editor Canvas Styles
	 */
	#axisbuilder-canvas {
		margin: 0;
		padding: 0;
		display: block;

		.canvas-area {
			right: 1px;
			width: 100%;
			float: left;
			padding: 6px 0;
			min-height: 225px;
			position: relative;
			border: 1px solid transparent;
			border-top: 1px solid #eee;

			&.loader {
				@include loader();
			}

			.axisbuilder-inner-shortcode {

				textarea {
					display: none;
				}
			}
		}

		.canvas-secure-data {
			clear: both;
			visibility: hidden;

			textarea {
				margin: 0;
				width: 100%;
				resize: none;
				display: none;
				height: 250px;
				font-size: 12px;
				line-height: 20px;
				font-family: monospace;
			}
		}
	}
}

/**
 * Builder Postbox Classes
 */
#axisbuilder-editor {

	&.axisbuilder-hidden {
		display: none !important;
	}

	&.axisbuilder-expanded {
		position: fixed;
		top:-3px;
		left:0;
		right:0;
		bottom:0;
		z-index: 10000;
		margin:0;
		overflow: auto;
		overflow-x: hidden;
	}
}

/**
 * Shortcode Button Styles
 */
.insert-shortcode {
	height: 50px;
	width: 70px;
	border: 1px solid #e1e1e1;
	padding: 4px 2px 10px 2px;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	display: block;
	overflow: hidden;
	outline: none;
	line-height: 13px;
	float: left;
	margin: 5px 5px 0 0;
	position: relative;
	color: #777;

	&:hover {
		border:1px solid #aaa;
	}

	&:active {
		border:1px solid #D54E21;
	}

	&:hover img, &:active img {
		opacity: 1;
	}

	img {
		opacity: 0.5;
		display: block;
		position: relative;
		margin: 6px auto 5px auto;
	}

	span {
		position: absolute;
		width: 88%;
		left: 6%;
		bottom: 3px;
		background: rgba(255,255,255,0.7);
		padding-top: 1px;
	}
}

/**
 * Debug or Test-Mode Styles
 */
.axisbuilder-debug {

	#axisbuilder-canvas {

		.axisbuilder-inner-shortcode {

			textarea {
				resize: none;
				font-size: 11px;
				margin: 20px auto;
				font-family: monospace;
				display: block !important;
			}
		}

		.canvas-secure-data {
			padding: 12px;
			background: #fafafa;
			border-top: 1px solid #eee;
			visibility: visible !important;

			textarea {
				display: block !important;
			}
		}
	}
}

/**
 * Animation Styles
 */
.popup-animation {
	@include animation( popup .3s $ease-out-back );
}

.modal-animation {
	@include animation( popup .3s $ease-out-back );
}

/**
 * Clear
 */
.clear {
	clear: both;
}

/**
 * Popup Modal
 */
.axisbuilder-style {
	line-height: 1.5em;

	#{$all-text-inputs}, .input-text, textarea, select {
		color: #777;
		outline: none;
		display: inline;
		max-width: 100%;
		border-radius: 0px;
		border: 1px solid #e1e1e1;
		font: 13px $helvetica;
		@include size(95% auto);
		@include margin(0 0 5px);
		@include padding(6px 4px);
		@include appearance(none);
	}

	#{$all-text-inputs-focus}, textarea:focus {
		color: #555;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	}

	input[type="text"]:disabled {
		color: #aaa;
		background: #f8f8f8;
		border: 1px solid #e1e1e1;
	}

	textarea {
		width: 95%;
		padding: 15px;
		height: 150px;
		@include box-sizing( border-box );
	}

	small {
		color: #999;
		font-size: 11px;
		font-style: italic;
	}
}

#normal-sortables .postbox.axisbuilder-expanded#axisbuilder-editor:first-child {
	margin-top:-0;
}

.axisbuilder-fullscreen-buttons {
	float: right;
	margin: 10px 20px 0;
}

/*.postbox.axisbuilder-expanded {
	position: fixed;
	top:-3px;
	left:0;
	right:0;
	bottom:0;
	z-index: 10000;
	margin:0;
	overflow: auto;
	overflow-x: hidden;
}*/

.axisbuilder-expanded .axisbuilder-tab-container {
	visibility: hidden;
}

.axisbuilder-expanded .axisbuilder-fixed-controls {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	background: #F8F8F8;
	padding: 41px 0px 10px 0;
	z-index: 1;
	-webkit-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0 1px 8px 0px rgba(0,0,0,0.2);
	visibility: visible;
}

.axisbuilder-expanded .axisbuilder-fixed-controls .axisbuilder-tab-container {
	visibility: visible;
}

.postbox.axisbuilder-expanded .axisbuilder-expand-button {
	position: fixed;
	top:40px;
}

.axisbuilder-expanded-buttons {
	position: absolute;
	top:-6px;
	right:0;
}

.axisbuilder-fixed-controls #publish {
	float:left;
	margin-right: 4px;
}

.axisbuilder-fixed-controls #post-preview {
	float: left;
	margin-right: 4px;
	line-height: 30px;
	height: 31px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

/*expand button*/
.axisbuilder-expanded .axisbuilder-fixed-controls  .axisbuilder-expand-button {
	position: relative;
	float: left;
	top: 0;
	right: 0;
	background: none;
	text-indent: 0;
	width: auto;
	display: inline-block;
	text-decoration: none;
	line-height: 29px;
	height: 30px;
	color: white;
	opacity: 1;
	border-color: #D54E21;
	background-color: #D54E21;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#DD7C5C),to(#D54E21));
	background-image: -webkit-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: -moz-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: -ms-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: -o-linear-gradient(top,#DD7C5C,#D54E21);
	background-image: linear-gradient(to bottom,#DD7C5C,#D54E21);

		-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.axisbuilder-expanded .axisbuilder-fixed-controls .axisbuilder-expand-button:hover{ background-color: #DD7C5C; background-image:none;}
.axisbuilder-expanded .axisbuilder-fixed-controls .axisbuilder-expand-button:active{
	background-color: #F05F2F;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#D54E21),to(#DD7C5C));
	background-image: -webkit-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: -moz-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: -ms-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: -o-linear-gradient(top,#D54E21,#DD7C5C);
	background-image: linear-gradient(to bottom,#D54E21,#DD7C5C);
}

.axisbuilder-expand-fullscreen {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: #fff;
	z-index: 99998;
	display: none;
}

/* Interface tabs that hold shortcode tab-actives */
.shortcode_tab-active_wrap {
	display: block;
	position: relative;
}

/* Shortcode Wrap */
#wpwrap .axisbuilder-active-insert {
	border: 1px solid #D54E21;
}

/**
 * Small screen optimisation
 */
@media only screen and (max-width: 1280px) {

}

/**
 * Optimisation for screens 900px and smaller
 */
@media only screen and (max-width: 900px) {

}

/**
 * Optimisation for screens 782px and smaller
 */
@media only screen and (max-width: 782px) {

	#axisbuilder-editor {
		#axisbuilder-panels {
			ul.axisbuilder-tabs li {
				a {
					margin: 8px 12px;
					width: 40% !important;
				}

				&:nth-of-type(2n) {
					a {
						float: right !important;
						margin-left: 0 !important;
					}
				}
			}
		}
	}

	#axisbuilder-handle {
		height: 52px;

		.control-bar {
			padding: 12px 6px;
		}

		.content-sections {

			.template-action {
				margin-top: -6px;
				margin-right: 75px;
			}
		}
	}

	.axisbuilder-expanded-buttons #post-preview,
	.axisbuilder-expanded-buttons #publish {
		display: inline-block;
		float: none;
	}

	.axisbuilder-expanded .inside .axisbuilder-shortcodes {
		padding-bottom: 38px;
	}
}

/**
 * Optimisation for screens 500px and smaller
 */
@media only screen and (max-width: 500px) {

	#axisbuilder-handle {

		.control-bar {
			padding: 12px;
		}
	}
}

/**
 * Drag-Drop Styles
 */
body div.ui-draggable-dragging {
	width:240px;
}

.axisbuilder-hover-active {
	background: #f3f8fa;
	border: 1px dashed #1075a0;
}

/* Drag-Drop highlight of single element */
.axisbuilder-select-target-1.drag-element[data-dragdrop-level="0"],
.axisbuilder-select-target-2.drag-element[data-dragdrop-level="0"],
.axisbuilder-select-target-3.drag-element[data-dragdrop-level="0"],
.axisbuilder-select-target-4.drag-element[data-dragdrop-level="0"] {
	background: #f3f8fa;
	border: 1px dashed #1075a0 !important;
}

.axisbuilder-select-target-1 .drag-element[data-dragdrop-level="0"],
.axisbuilder-select-target-2 .drag-element[data-dragdrop-level="1"],
.axisbuilder-select-target-3 .drag-element[data-dragdrop-level="2"],
.axisbuilder-select-target-3 .drag-element[data-dragdrop-level="1"],
.axisbuilder-select-target-4 .drag-element[data-dragdrop-level="3"],
.axisbuilder-select-target-4 .drag-element[data-dragdrop-level="2"],
.axisbuilder-select-target-4 .drag-element[data-dragdrop-level="1"] {
	background: #f3f8fa;
	border: 1px dashed #4d9edd !important;
}


/**
 * Layout Styles
 */
.layout-flex-grid {
	.ab_one_full {
		width: 98%;
	}
	.ab_one_half {
		width: 48%;
	}
	.ab_one_third {
		width: 31.3%;
	}
	.ab_two_third {
		width: 64.6%;
	}
	.ab_one_fourth {
		width: 23%;
	}
	.ab_three_fourth {
		width: 73%;
	}
	.ab_one_fifth {
		width: 18%;
	}
	.ab_two_fifth {
		width: 38%;
	}
	.ab_three_fifth {
		width: 58%;
	}
	.ab_four_fifth {
		width: 78%;
	}
}

/**
 * Sortable Elements Styles
 */
.axisbuilder-sortable-element {
	width: 98%;
	margin: 1%;
	color: #666;
	float: left;
	position: relative;

	&:hover {
		.axisbuilder-sorthandle {
			opacity: 1;
			z-index: 10;
		}
	}

	.axisbuilder-sorthandle {
		opacity: 0;
		top: -24px;
		left: 0;
		right: 0;
		border: none;
		box-shadow: none;
		position: absolute;
		background: rgba( 0,0,0,0.3 );
	}

	.axisbuilder-inner-shortcode {
		background: #fcfcfc;
		padding: 10px;
		border: 1px solid #e1e1e1;
		text-align: center;
	}
}

.axisbuilder-sortable-element, .axisbuilder-layout-column {

	&:hover {
		z-index: 20;
	}
}

.axisbuilder-inner-shortcode {

	.axisbuilder-highlight,
	.axisbuilder-sortable-element {
		margin: 10px 1%;
	}

	.axisbuilder-element-label {
		display: inline;
		margin-bottom: 5px;
	}

	img {
		top: 6px;
		max-width: 100%;
		display: inline;
		margin-right: 10px;
		position: relative;
	}
}
