/* Meta-Box Core Styles */
.postbox-container .postbox {
	clear: both;
}

div.mce-toolbar-grp {
	min-width: 100%;
}

/* Hide Screen Option for Axis Builder */
label[for="axisbuilder-editor-hide"] {
	display: none;
}

/* No Need of this as Screen Option is Hidden */
#axisbuilder-editor {
	float: left;
	width: 100%;
	display: block;
}

/* Postbox Classes applied for AxisBuilder */
#axisbuilder-editor.axisbuilder-hidden {
	display: none !important;
}

/* Toggle Button */
#axisbuilder-button {
	top: 10px;
	z-index: 9999;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

/* Meta Box Customize */
.axisbuilder_meta_box {
	margin: 10px 0;
}
