/**
 * builder.scss
 * General AxisBuilder admin styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";
@import "fonts";

/**
 * Styling begins
 */

/* Meta-Box Core Styles */
.postbox-container .postbox {
	clear: both;
}

div.mce-toolbar-grp {
	min-width: 100%;
}

/* Hide Screen Option for Axis Builder */
label[for="axisbuilder-editor-hide"] {
	display: none;
}

/* Toggle Button */
#axisbuilder-tab-active {
	top: 10px;
	z-index: 1001;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

#axisbuilder-editor {
	width: 100%;
	float: left;
	display: block;

	&.axisbuilder-hidden {
		display: none !important;
	}
}

/* Meta Box Customize */
.axisbuilder_meta_box {
	margin: 10px 0;
}

#axisbuilder-editor .inside {
	padding: 0 0 12px !important;
}

.axisbuilder_editor {
	margin: -7px 0 10px;
	border-top: 1px solid #e5e5e5;
}

#tabs {
	float:left;
	width:100%;
}

/* Interface tabs that hold shortcode tab-actives */
.shortcode_tab-active_wrap {
	display: block;
	position: relative;
}

.axisbuilder-tab {
	clear: both;
	display: none;
	overflow: hidden;
	position: relative;
	padding: 50px 15px;
	background-color: #fdfdfd;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.axisbuilder-tab-1 {
	display: block;
}

.axisbuilder-tab-title-container {
	background: #f5f5f5;
}

.axisbuilder-tab-title-container a {
	z-index: 2;
	padding: 10px 30px;
	margin: 20px;
	/*margin-right: 3px;*/
	float: left;
	display: block;
	position: relative;
	text-decoration: none;
	color: #232323;
	background: #fdfdfd;
	border: 1px solid #C6C4C4;

	&:hover,
	&:focus {
		background: #f7f7f7;
	}

	&.active-tab {
		@include active_tab( $fresh-tab-active-color )
	}
}
