/* Meta-Box Core Styles */
.postbox-container .postbox {
	clear: both;
}

div.mce-toolbar-grp {
	min-width: 100%;
}

/* Hide Screen Option for Axis Builder */
label[for="axisbuilder-editor-hide"] {
	display: none;
}

/* Toggle Button */
#axisbuilder-button {
	top: 10px;
	z-index: 1001;
	position: relative;

	&:active, &:focus {
		outline: 0 !important;
	}
}

#postdivrich_wrap.axisbuilder-hidden-editor #postdivrich {
	display: none;
}

#axisbuilder-editor {
	width: 100%;
	float: left;
	display: block;

	&.axisbuilder-hidden {
		display: none !important;
	}
}

/* Meta Box Customize */
.axisbuilder_meta_box {
	margin: 10px 0;
}
