/* =Imports
-------------------------------------------------------------- */
@import "bourbon";
@import "mixins";

/* Icon Font */
@font-face {
	font-family: 'axisicons';
	src:url('../fonts/axisicons.eot');
	src:url('../fonts/axisicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/axisicons.woff') format('woff'),
		url('../fonts/axisicons.ttf') format('truetype'),
		url('../fonts/axisicons.svg#axisicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Deprecated
 * Use of Redux in Top Level page so after migrate will be removed
 */
#adminmenu #toplevel_page_axis-settings .menu-icon-generic div.wp-menu-image:before {
	font-family: 'axisicons' !important;
	content: "\e601";
	font-size: 1.3em !important;
}

/* Menu Icons */
#adminmenu #toplevel_page_axis-core .menu-icon-generic div.wp-menu-image:before {
	font-family: 'axisicons' !important;
	content: "\e600";
	font-size: 1.3em !important;
}

span.mce_axis_shortcodes_button {
	background-image: none !important;
	@include ir();

	&:before {
		@include icon( "\e601" );
		font-size: .9em;
		line-height: 1.2;
	}
}

.axis_plugin_upgrade_notice {
	font-weight: normal;
	color: #fff;
	background: #d54d21;
	padding: 1em;
	margin: 9px 0;

	a {
		color: #fff;
		text-decoration: underline;
	}

	&:before {
		content: "\f348";
		display: inline-block;
		font: 400 18px/1 dashicons;
		speak: none;
		margin: 0 8px 0 -2px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: top;
	}
}
