/**
 * modal.scss
 * AxisBuilder popup modal styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";
@import "animation";
@import "fonts";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

.axisbuilder-noselect {
	@include user-select(none);
}

body .axisbuilder-hidden {
	display: none;
}

body.axisbuilder-noscroll {
	overflow: hidden;
}

/**
 * Base Styles
 */
.axisbuilder-style {
	line-height: 1.5em;

	#{$all-text-inputs}, .input-text, textarea, select {
		color: #777;
		outline: none;
		display: inline;
		max-width: 100%;
		border-radius: 0px;
		border: 1px solid #e1e1e1;
		font: 13px $helvetica;
		@include size(95% auto);
		@include margin(0 0 5px);
		@include padding(6px 4px);
		@include appearance(none);
	}

	#{$all-text-inputs-focus}, textarea:focus, select:focus {
		color: #555;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	}

	input[type="text"]:disabled {
		color: #aaa;
		background: #f8f8f8;
		border: 1px solid #e1e1e1;
	}

	textarea {
		width: 95%;
		padding: 15px;
		height: 150px;
		@include box-sizing( border-box );
	}

	select {
		padding: 6px 35px 6px 4px;
		background-image: url(../images/icons/select.png);
		background-position: center right;
		background-repeat: no-repeat;
	}

	select[multiple] {
		padding: 6px 0px 6px 0px;
		background-image: none;
		line-height: 25px
	}

	small {
		color: #999;
		font-size: 11px;
		font-style: italic;
	}
}

/**
 * Firefox Hack
 */
@-moz-document url-prefix() {
	.axisbuilder-style select {
		padding: 6px 6px 6px 4px;
		background-image: none;
	}
}

/**
 * Popup Modal
 */
.axisbuilder-modal-backdrop {
	opacity: 0.7;
	z-index: 14000;
	background: black;
	min-height: 360px;
	@include position(fixed, 0px 0px 0px 0px);
}

.axisbuilder-modal {
	overflow: auto;
	z-index: 15000;
	background: #fff;
	min-height: 210px;
	@include position(fixed, 30px 15%);

	&.bigscreen {
		@include position(null, null 30px 30px);
	}

	&.mediumscreen {
		@include position(null, 20%);
	}

	&.highscreen {
		@include position(null, 5% 20% 5%);
	}

	&.flexscreen {
		min-height: 0;

		.axisbuilder-modal-inner-content {
			padding-bottom: 50px;
			@include position(relative, 0px null null);
		}
	}

	&.flexscreen,
	&.smallscreen {
		@include position(null, 35% 30% auto);
	}
}

.axisbuilder-modal-close {
	width: 25px;
	height: 25px;
	overflow: hidden;
	@include animation-duration(0s);
	@include position(absolute, 14px 14px null null);

	&.trash-modal-icon {
		color: #999;
		font-size: 16px;

		&:before {
			@include icon( "\e014" );
			line-height: 1.5;
		}

		&:hover {
			color: #d54e21;
		}
	}
}

.axisbuilder-modal-inner-header {
	height: 50px;
	border-bottom: 1px solid #DFDFDF;
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
	position: relative;
}

.axisbuilder-modal-inner-footer {
	height: 50px;
	border-top: 1px solid #DFDFDF;
	box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 0;
	background: #FCFCFC;
	width: 100%;
}

div.axisbuilder-modal .axisbuilder-modal-inner-footer .button-large {
	position: absolute;
	right: 12px;
	top: 10px;
	padding: 0 35px 2px;
}

.axisbuilder-modal-inner-content {
	padding: 0;
	overflow: auto;
	@include position(absolute, 52px 0px 50px 0px);

	&.loader {
		@include loader();
	}
}

.axisbuilder-modal-title {
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 22px;
	font-weight: 200;
	line-height: 53px;
	@include position(absolute, 0px null null 14px);
}

.axisbuilder-msg-error { color: #D54E21; }
.axisbuilder-msg-success { color:#8AB83A; }
.axisbuilder-msg-attention {color:#4BA7D3; }

.axisbuilder-form-element-container {
	padding: 8px;
}

.axisbuilder-modal .axisbuilder-form-element-container {
	clear: both;
	background: #fff;
	padding: 18px 20px;
	position: relative;
	border-bottom:1px dashed #e1e1e1;
	@include box-sizing( border-box );

	p {
		color: #777;
	}
}

.smallscreen .axisbuilder-form-element-container {
	border-bottom: none;
}

.axisbuilder-modal .axisbuilder-form-element-container:hover,
.smallscreen .axisbuilder-modal .axisbuilder-modal-inner-content:hover {
	background: #fcfcfc;
}

.axisbuilder-name-description {
	> strong {
		display: block;
	}

	> span,
	> label {
		color: #777;
		display: block;
		margin-bottom: 4px;
	}
}

.axisbuilder-modal {

	.axisbuilder-name-description {
		width: 49%;
		float: right;
	}

	.axisbuilder-form-element {
		width: 49%;
		float: left;
	}

	/* Checkbox needs another width */
	.axisbuilder-element-checkbox {

		.axisbuilder-name-description {
			width: 100%;
		}

		.axisbuilder-form-element {
			width: 30px;
		}
	}
}

/**
 * Use full-width Styles
 */
.axisbuilder-element-tinymce,
.axisbuilder-element-fullwidth {
	.axisbuilder-form-element,
	.axisbuilder-name-description {
		float: none;
		width: 100%;
	}
}

.wp-fullscreen-active input[type=text].wp-fullscreen-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Checkbox Styles
 */
.axisbuilder-element-checkbox {
	position: relative;

	.axisbuilder-name-description {
		> span,
		> label {
			padding-left: 20px;
		}
	}

	.axisbuilder-form-element {
		top: 37px;
		position: absolute;
	}
}

/**
 * TinyMCE Form Element
 */
.axisbuilder-style .axisbuilder-advanced-textarea {
	height: auto !important;
}

div .axisbuilder-advanced-textarea.axisbuilder-tinymce.wp-editor-area {
	bottom: -4px;
	position: relative;
	display: inline-block;
	border: none !important;
}

/**
 * Color-Picker Form Element
 */
.axisbuilder-style .wp-picker-container{ position: relative;  width: 100%;}
.axisbuilder-style .wp-picker-holder{position: absolute; z-index: 1001;}
.axisbuilder-style .iris-picker{-webkit-box-shadow: 0 1px 27px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 27px 0px rgba(0,0,0,0.3); box-shadow: 0 1px 27px 0px rgba(0,0,0,0.3);}
.axisbuilder-style .wp-picker-input-wrap{display:block; overflow: hidden;}
.axisbuilder-style .wp-picker-input-wrap input{display:inline-block !important; width: 69px; padding: 6px 4px 6px 4px;}
.axisbuilder-style .wp-color-result{top: 0px; display:block; white-space: nowrap; overflow: hidden; float:left; height:27px; min-width: 79px;}
.axisbuilder-style .wp-color-result:after{line-height:27px; }
.axisbuilder-style .wp-picker-input-wrap .button{ line-height:29px; height:29px; margin-left: 5px; padding:0;}
.axisbuilder-style .wp-picker-input-wrap .colorpicker{margin-right:6px; position: relative; }

.axisbuilder-style .iris-picker,
.axisbuilder-style .wp-color-result,
.axisbuilder-style .wp-color-result:after,
.axisbuilder-style .wp-picker-input-wrap .button {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
